
#logo{
    width: 200px;
    height: 200px;
}
#logobox {
   display:flex;
   flex-direction:row;
    justify-content: center;
    background-color: #272629;
    
}
#about {
    display:flex;
    flex-direction: column;
    min-height: 110vh;
    color: map-get($color, main-text);
    list-style-type: none;
    h1 {
        font-family: map-get($font, main-font);
        padding-bottom: 30px;
        padding-top: 20px;
    }
    h2 {
        font-family: map-get($font, main-font);
        font-size: 2em;
        padding: 30px;
    }
    ul {
        list-style-type: none;
    }
    p{
        font-family: map-get($font, body-font);
        font-size: 1em;
    }
    li {
        font-family: map-get($font, body-font);
        font-size: 1em;
    }


   #abouttitle{
       display:flex;
       justify-content: center;
       font-size: 3em;     
   }
 

}

#aboutcontainer {
    position: relative;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
    width: 30%;
    
 }
#skillscontainer {
    h2 {
        text-align:center;
    }
    ul {
        text-align:center;

    }
        position: relative;
        display:flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap:wrap;
        width:100%;
        

   
}
#rowcontainer {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
 
}

.imageslideshow {
 
        padding-top: 15px;
        display:flex;
        justify-content: center;
    
    img {
        max-width: 100%;
        position: relative;
        overflow: hidden;
        max-height: auto;
       

    }
}
#imageskills {
        display:flex;
        justify-content: center;
        max-width: 100%;
        flex-wrap:wrap; 
}
#mytatto{
    width: 800px;
    height: 800px;
}
  
  @media only screen and (max-width: 400px) {
    .imageskills { 
        overflow: hidden; 
    }
  }
  @media only screen and (max-width: 400px) {
    .imageslideshow { 
        max-height:350px;
        padding: 0px 10px 0px 10px;
    }
  }
  @media only screen and (max-width: 400px) {
    .aboutcontainer {
        padding: 10px 10px 5px 10px;
     }
  }
  @media only screen and (max-width: 400px) {
    #mytatto { 
        overflow: hidden; 
        max-height: 350px;
    }
  }
 