#frontpage{
    min-height: 100vh;
    background-image: url(/Images/beautiful-cold-dawn-547115.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 100%;
    height: auto;

}
    #titletext{ 
        

        font-family: map-get($font, main-font);
        display:flex;
        padding-top: 600px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #3E3D53;
        font-size: 2vw;
        vertical-align: middle;
    
    
    }
   


header {
    background-color:#2c2626;
    min-height: 30px;
    position: fixed;
    width: 100%;
    opacity: 0.5;

}

#social-media-buttons {
    padding-top:30px;
    display:flex;
    flex-direction:row;
    justify-content: center;

    #twitter  {
        height: 50px;
    }
    #linkedin {
        height: 50px;
    }
}

@media only screen and (max-width: 400px) {
    #titletext { 
        font-size: 3.5vw;
    }
}