@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Amatic+SC|El+Messiri|Josefin+Slab|Julius+Sans+One|Lobster+Two|Nanum+Myeongjo|Pragati+Narrow&display=swap');



 $color: (
    main-background: #3E3D53,
    main-text: #E66F85,
    front-page-text: #EBD5B3,
 );
$font: (
    main-font: 'Julius Sans One',
    body-font: 'Nanum Myeongjo',
);